html,
body {
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #132248;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

h1,
h3,
h4,
p {
  text-align: center;
  color: white;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}